<!DOCTYPE html>
{% load static %} <!-- static 파일 사용 선언 -->
<html lang="ko">
<html>
    <head>
        <title>{% block head_title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
        <script src="https://kit.fontawesome.com/ec8e9aa71a.js" crossorigin="anonymous"></script> <!-- ************ -> 본인의 kit code 입력 -->
    </head>
    <body>

        {% include 'blog/navbar.html' %}

        <div class="container my-3">
            <div class="row">
                <div class="col-md-8 col-lg-9" id="main-area">
                   {% block main_area %}
                   {% endblock %}
                </div>
                
                <div class="col-md-4 col-lg-3">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search for..." id="search-input"/>
                                <!-- id="search-input" -> input 요소 안에 있는 값을 가져와서 검색하기 위해 id 부여 -->
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" onclick="searchPost();">Go!</button>
                                    <!-- onclick="searchPost();" -> Go! 버튼을 클릭했을 때 searchPost() 함수를 실행 -->
                                </span>
                            </div>
                        </div>
                    </div> 
                    <!-- Categories widget-->
                    <div class="card mb-4" id="categories-card">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <ul>
                                    {% for category in categories %}
                                    <!-- for 문으로 categories에서 불러온 요소를 <li> 태그 목록 형태로 노출되게 함 -->
                                    <li><a href="{{ category.get_absolute_url }}"> {{ category }} ({{category.post_set.count }})</a></li>
                                    <!-- a요소의 href 값으로 {{ category.get_absolute_url }}을 넣어 카테고리의 고유 URL을 링크로 만들어 놓음. -->
                                    {% endfor %}
                                    <li><a href="/blog/category/no_category/">미분류 ({{ no_category_post_count }})</a></li>
                                    <!-- {{ no_category_post_count }} -> 카테고리가 없어 미분류인 포스트 개수 표시 -->
                                </ul>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <script>
            function searchPost()
            {
                let searchValue = document.getElementById("search-input").value.trim();
                // trim() -> 문자열의 양 끝 공백 제거
                // id가 search-input인 요소의 값을 가져와서 searchValue 변수에 저장
                if(searchValue.length > 1)
                {
                    location.href = "/blog/search/" + searchValue + "/";
                }
                // searchValue의 길이가 1보다 크면, /blog/search/ + searchValue + / 로 이동
                else
                {
                    alert('검색어('+ searchValue +')가 너무 짧습니다.');
                }
                // searchValue의 길이가 1보다 작으면, 검색어가 너무 짧다는 경고창 띄움
            };

            document.getElementById("search-input").addEventListener("keyup", function(event)
            // id가 search-input인 요소에 keyup 이벤트가 발생하면, function(event) 실행
            // keyup 이벤트 -> 키보드의 키를 눌렀다가 뗄 때 발생하는 이벤트
            {
                if(event.key === 'Enter')
                // event.key가 Enter이면, searchPost() 함수 실행
                {
                    searchPost();
                }
            });
        </script>
        
        {% include 'blog/footer.html' %}

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    </body>
</html>